 



 <div class="parallax"></div>
  
      <div class="background">
        <div class="container">

  <header class="row justify-content-center">
    <button id="backward" class="dayButton" style="width: 4rem;">
    <i class="bi bi-arrow-left-circle-fill" style="font-size: 2rem;"></i>  
    </button>
    <p id="currentDay" class="col-4 p-3 m-1"></p>
    <button id="forward" class="dayButton" style="width: 4rem;">
      <i class="bi bi-arrow-right-circle-fill" style="font-size: 2rem;"></i>
    </button>
  </header>

 <div class="parallax"></div>
   
  
<div>
  <p style="background-color: white;">
    test test test
  {{this.username}}
  {{#each calendarItems}}
  {{body}}
  {{user.username}}
  {{/each}}
  </p>
</div>



    {{#each hours}}
      <form id="{{this}}" class="input-group mb-3">
        <span id="startHour-{{this}}" class="input-group-text" style="background-color: #DAE4CA;">{{this}}</span>
        <textarea id="todo-{{this}}" placeholder="Things to do" type="text" class="form-control">{{calendarItems.body}} </textarea>
        <button id="button-{{this}}" class="input-group-text" style="background-color: #DAE4CA;" type="submit">Save</button>
      </form>
    {{/each}}
   <div class="parallax"></div>



    {{!-- {{#each hours}}
      <form id="{{this}}" class="input-group mb-3">
        <span id="startHour-{{this}}" class="input-group-text" style="background-color: #DAE4CA;">{{this}}</span>
        <textarea id="todo-{{this}}" placeholder="Things to do" type="text" class="form-control">{{calendarItems.body}} </textarea>
        <button id="button-{{this}}" class="input-group-text" style="background-color: #DAE4CA;" type="submit">Save</button>
      </form>
    {{/each}}
   <div class="parallax"></div>


 --}}

{{!-- <div class="input-group mb-3">
  <span class="input-group-text">0600</span>
  <textarea id="todo" placeholder="Things to do" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"></textarea>
  <button class="input-group-text">Save</button>
</div> --}}

      

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> --}}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


<script src="/js/calendar.js"></script>


 